{% extends "adminBase.html" %} {% block content %}
<!--/header-->
<div class="inner-banner"></div>
<!-- /contact-form -->
<section class="w3l-contact-11">
	<div class="form-41-mian py-5 text-center">
		<div class="container py-lg-4">
			<div class="row align-form-map">
				<div class="col-lg-6 form-inner-cont" style="margin: auto">
					<div class="title-content text-left">
						<h3 class="hny-title mb-lg-5 mb-4 text-center">Feedback</h3>
					</div>
                    <div class="forTable">
                        <table class="table table-hover tabel-sriped tabel-secondary">
                            <tr>
                                <th>Date</th>
                                <th>User</th>
                                <th>Feedback</th>
                            </tr>
                            {% for fb in fbs %}
                                <tr>
                                    <td>{{fb.date}}</td>
                                    <td>{{fb.user.name}}</td>
                                    <td>{{fb.feedback}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
