{% extends "userBase.html" %} {% block content %}
<!--/header-->
<div class="inner-banner"></div>
<!-- /contact-form -->
<section class="w3l-contact-11">
	<div class="form-41-mian py-5 text-center">
		<div class="container-fluid py-lg-4">
			<div class="row align-form-map">
				<div class="col-lg-10 form-inner-cont" style="margin: auto">
					<div class="title-content text-left">
						<h3 class="hny-title mb-lg-5 mb-4 text-center">Notification</h3>
					</div>
					<div
						class="w3-services-grids py-lg-4 text-center"
						style="padding: 20px"
					>
						<div class="fea-gd-vv row">
							{% for i in data %}
							<div class="col-lg-4 col-md-7" style="margin-bottom: 30px">
								<div class="feature-gd icon-yellow">
									{% if i.site == 'flipkart' %}
									<div class="icon">
										<i
											><img
												src="{{i.response.img1}}"
												style="
													height: 100px;
													width: 100px;
													padding-right: 26px;
													padding-bottom: 5px;
												"
										/></i>
									</div>
									<div class="info" style="margin-top: 50px">
										<h3>Product.{{i.response.desc1}}</h3>
										<h3>Rs.{{i.response.rate1}}</h3>
										<h3>New Rate.{{i.newRate}}</h3>
										<h3>Offer.{{i.offer}}</h3>
										<p>
											<a href="{{i.response.url1}}">Link</a>
										</p>
										<a href="/deleteFav?id={{i.id}}">❌</a>
									</div>
									{% else %}
									<div class="icon">
										<i
											><img
												src="{{i.response.img2}}"
												style="
													height: 100px;
													width: 100px;
													padding-right: 26px;
													padding-bottom: 5px;
												"
										/></i>
									</div>
									<div class="info" style="margin-top: 50px">
										<h3>Product.{{i.response.desc2}}</h3>
										<h3>Rs.{{i.response.rate2}}</h3>
										<h3>New Rate.{{i.newRate}}</h3>
										<h3>Offer.{{i.offer}}</h3>
										<p>
											<a href="{{i.response.url2}}">Link</a>
										</p>
										<a href="/deleteFav?id={{i.id}}">❌</a>
									</div>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //contact-form -->
<!-- footer-66 -->
{% if msg %}
<script>
	alert('{{msg}}');
</script>
{% endif %} {% endblock %}
